extends /layouts/main

block main
  +container().py-8
    +pageTitle(title).mb-4
    .flex.flex-wrap.items-center(class="md:-mx-4")
      .mb-4(class="md:w-3/5 md:px-4")
        dl
          dt.font-black.my-4 Phone
          dd.text-lg.mb-8 #{ company.phone }
          dt.font-black.my-4 Email
          dd.text-lg.mb-8
            a(href=`mailto:${ company.email }`) #{ company.email }
          dt.font-black.my-4 Address
          dd.text-lg.mb-8
            | #{ company.address.street }
            br
            | #{ company.address.city }, #{ company.address.state } #{ company.address.zip }
            br
            a(
              target="_blank"
              href=company.gmap_url
            ) Google Map &raquo;
        //- table.w-full.text-left.leading-normal
          tbody
            tr
              th.py-4.block(class="md:inline-block") Phone
              td.block(class="md:inline-block") #{ company.phone }
            tr
              th.py-4 Email
              td
                a(href=`mailto:${ company.email }`) #{ company.email }
            tr
              th.py-4 Address
              td
                | #{ company.address.street }
                br
                | #{ company.address.city }, #{ company.address.state } #{ company.address.zip }
                br
                a(
                  target="_blank"
                  href=company.gmap_url
                ) Google Map &raquo;
      .mb-4(class="md:w-2/5 md:px-4")
        <iframe class="max-w-full" width="480" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3246.4013227118544!2d-82.446193!3d35.5437895!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8859f1a63f018493%3A0x549a757734b1cff!2sAppalachian+Tropicals!5e0!3m2!1sen!2sus!4v1540471631019" frameborder="0" style="min-height: 260px; border:0;" allowfullscreen></iframe>
